@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/*
 * Globals
 */

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.owl-stage-outer {
    padding: 10px;
}

/***************************** Scroll Bar *****************************/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E7ECF4;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/***********************End of Scroll Bar *****************************/

 
body {
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
    font-family: 'Crete Round', serif;
    background-color: #E7ECF4;
    color: #3d444f;
}

/***************************** login_page.html *****************************/
.tabs{
    font-size: 20px;
}

#icon {
    width: 150px;
    height: 150px;
}

img[src="img/btn_google_signin_light_normal_web@2x.png"] {
    height: 50px;
}

#signInBox,
#signUpBox,
#addressBox {
    background-color: white;
    border-radius: 0% 0% 10px 10px;
}

.selected {
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px 10px 0% 0%;
}

.unselected {
    background-color: rgba(225, 225, 225, 0.3);
    color: rgb(0, 0, 0, .2);
    cursor: pointer;
    border-radius: 10px 10px 0% 0%;
}



h4 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #414f5a;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

h4 span {
    background: white;
    padding: 0 10px;
    font-size: 15px;
}

/***************************** End login_page.html *****************************/

/***************************** Navigation Bar *****************************/
.navbar{
    background-color: #6EB6CF !important;
    padding: 10 0 10 0 ;
    margin: 0px;
}

.navbar-brand{
    padding: 0px;
}

.brand{
    font-family: 'Gugi', cursive;
    margin-left: 20px;
    font-size: 35px;
    color: #385264;
}

#logo{
    font-family: 'Gugi', cursive;
}

#navbarMenu > ul > li > a{
    font-size: 25px;
    color: #3d444f;
    padding-right: 30px;
}

#navbarMenu > ul > li > a:hover{
    color: white;
}

.btn-custom{
    background-color: #E7ECF4;
    color: #385264;
    border: 3px solid #395264;
    border-radius: 10px;
    font-size: 25px;
}

#navbarMenu > ul > li > a.active{
    color: white;
}

/* Logo */
.navbar img{
    width: 80px; 
    height: 80px;
    margin-left: 10px;
}

/* Profile Icon*/
.nav-link{
    padding-top: 5px;
    padding-bottom: 5px;
}

.avatar img{
    width: 60px;
    height: 60px;
    margin-right: -13px;
}

.avatar-button a{
    border: 3px solid #3a484e;
    border-radius: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    background: #E7ECF4;
    text-align: center;
}

.avatar-button a:hover{
    border: 3px solid #3a484e;
    border-radius: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    background: #c7cbd1;
    text-align: center;
    font-weight: bolder;
}


/***************************** End Navigation Bar *****************************/

/***************************** homepage.html *****************************/

.action-buttons {
    padding: auto;
    margin-bottom: 15px;
    color: #3d444f;
}

.speech-bubble {
    position: relative;
    background: #FFFFFF;
    color: #000000;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 0px;
}

.speech-text{
    line-height: 30px;
    padding: 5px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #FFFFFF;
    border-width: 20px 20px 20px 0;
    top: 50%;
    left: -20px;
    margin-top: -20px;
}

/***************************** End homepage.html *****************************/

/***************************** about.html *****************************/
#founders{
    font-size: 75px;
}

.card{
    border-radius: 20px;
}

.circle {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}
/***************************** End about.html *****************************/


/***************************** profile.html *****************************/
.profile-pic{
    height: 250px;
    width: 250px;
}

.profile-card{
    background-color: #FFFFFF;
    border-radius: 40px;
}

#map {
    height: 500px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
/***************************** End profile.html *****************************/


/* Custom Buttons */
/* Small Buttons */
.button-small{
    font-size: 20px;
}

/* Large Buttons */
.button-large{
    font-size: 30px;
}

/* Jumbo Buttons */
.button-jumbo{
    font-size: 40px;
}

/* Themed Buttons */
.button-light{
    background-color: #6EB6CF;
    color: #FFFFFF;
    outline-style: solid;
    outline-color: #6EB6CF;
    border-radius: 10px;
    font-family: 'Crete Round', serif;
}

.button-light:hover{
    background-color: #5495B0;
    color: #FFFFFF;
}

/* Themed Outline Buttons */
.button-light-outline{
    background-color: #FFFFFF;
    color: #6EB6CF;
    outline-style: solid;
    outline-color: #6EB6CF;
    border-radius: 10px;
    font-family: 'Crete Round', serif;
}

.button-light-outline:hover{
    background-color: #ececec;
    color: #5495B0;
}


/* Save Buttons */
.button-save{
    background-color: #62bb4c;
    color: #FFFFFF;
    outline-style: solid;
    outline-color: #62bb4c;
    border-radius: 10px;
    font-family: 'Crete Round', serif;
}

.button-save:hover{
    background-color: #59aa45;
    outline-style: solid;
    outline-color: #59aa45;
    color: #FFFFFF;
}

/* Cancel Buttons */
.button-cancel{
    background-color: #f8f8f8;
    color: #FFFFFF;
    outline-style: solid;
    outline-color: #62bb4c;
    border-radius: 10px;
    font-family: 'Crete Round', serif;
}

.button-cancel:hover{
    background-color: #59aa45;
    outline-style: solid;
    outline-color: #59aa45;
    color: #FFFFFF;
}


/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}



.btn-cta{
    background-color: #ff8592;
    color: white;
}

img{
    margin-bottom: 10px;
}

.homeRow{
    padding-top: 75px ;
    padding-bottom: 75px ;
    align-items: center;
}

.headerTitle {
    color: #414F5A ;
}

.cover-container {
    max-width: 42em;
}

#cancelAbout{
    display: none;
}

#saveAbout{
    display: none;
}

/* Notification of Success */

.notification-container {
    border-radius: 10px 10px 0 0;
    padding: 15px 15px 10px 15px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    /*transition-duration: 5s;*/
    /*transition-timing-function: ease-in-out;*/
  }

  .fade-in-notification {
    animation: fadeIn linear 0.5s;
    -webkit-animation: fadeIn linear 0.5s;
    -moz-animation: fadeIn linear 0.5s;
    -o-animation: fadeIn linear 0.5s;
    -ms-animation: fadeIn linear 0.5s;
  }

  @keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }

/* Profile Picture */
.profilepic {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #111;
    margin: auto;
    padding-left: 0;
  }
  
  .profilepic:hover .profilepic__content {
    opacity: 1;
  }
  
  .profilepic:hover .profilepic__image {
    opacity: .5;
  }
  
  .profilepic__image {
    object-fit: cover;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    padding-left: 0;
    margin-left: 0;
    width: 250px;
    height: 250px;
  }
  
  .profilepic__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: opacity .2s ease-in-out;
  }
  
  .profilepic__icon {
    color: white;
    padding-bottom: 8px;
  }
  
  .fas {
    font-size: 20px;
  }
  
  .profilepic__text {
    font-size: 12px;
    width: 50%;
    text-align: center;
  }
