/* .col{
    border: black 2px solid;
}  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h3, h1{
    text-align: center;
}

.game{
    position: absolute;
    top: 10rem; 
    left: 50%;
    transform: translate(-50%); 
    width: 600px;
    height: 520px;
    background-color: #4c4ae2;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0,0,0,0.441);
    padding:1.5rem;
}

.slot{
    width: 90px;
    height: 80px;
    background: white;
    border: 1px solid #4c4ae2;
    border-radius: 50%;
}

.reset{
    position: absolute;
    top:32rem;
    left: 10%;
    transform: translate(-50%);
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 0.3rem;
    border: 1px solid black;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 6px 5px #888888;
    transition: .5s;
}