/* .col{
    border: black 2px solid;
}  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #385264;
}

body{
    background-color: #b9daf2;
}

.game{
    position: absolute;
    top: 10rem; 
    left: 50%;
    transform: translate(-50%); 
    width: 600px;
    height: 520px;
    background-color: #1d61f1;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0,0,0,0.441);
    padding:1.5rem;
}

.slot{
    width: 90px;
    height: 80px;
    background: white;
    border: 1px solid #1d61f1;
    border-radius: 50%;
}

.slot:hover{
    background-color: #6EB6CF;
    box-shadow: 0 0 0 1pt #385264;
}