/* .col{
    border: black 2px solid;
}  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h3, h1{
    text-align: center;
}

.game{
    position: absolute;
    top: 10rem; 
    left: 50%;
    transform: translate(-50%); 
    width: 650px;
    height: 650px;
    background-color: #4c4ae2;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0,0,0,0.441);
    padding:1.5rem;
}

.slot{
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid #4c4ae2;
    border-radius: 50%;
}

.reset{
    position: absolute;
    top: 95vh;
    left:50%;
    transform: translate(-50%);
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}